<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%@songs.each do |song|%>
    <p><%=song.name%></p>
    <%end%>
  </body>
</html>
